<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Formulario Registro</title>
    <link rel="stylesheet" href="static/style/styleRegister.css" />
  </head>
  <body>
    <section class="form-register">
      <form action="/registerPost" method="post">
        <h4>Formulario de Registro</h4>
        <input
          class="controls"
          type="text"
          name="nombres"
          id="nombres"
          placeholder="Ingrese su Nombre"
        />
        <input
          class="controls"
          type="text"
          name="apellidos"
          id="apellidos"
          placeholder="Ingrese su Apellido"
        />
        <input
          class="controls"
          type="email"
          name="email"
          id="email"
          placeholder="Ingrese su Email"
        />
        <input
          class="controls"
          type="password"
          name="pass"
          id="pass"
          placeholder="Ingrese su Contraseña"
        />
        <br /><br />
        <input class="botons" type="submit" value="Registrar" />
        <br />
        <p><a href="/login">Ya tengo Cuenta?</a></p>
      </form>
    </section>

    <script>
      // Obtener el formulario
      const formulario = document.getElementById('registroForm');

      // Agregar un controlador de eventos para el evento de envío del formulario
      formulario.addEventListener('submit', function(event) {
        // Prevenir el envío automático del formulario
        event.preventDefault();

        // Realizar cualquier validación o procesamiento adicional aquí

        // Enviar el formulario manualmente
        enviarFormulario();
      });

      // Función para enviar el formulario manualmente
      function enviarFormulario() {
        // Obtener los datos del formulario
        const nombres = document.getElementById('nombres').value;
        const apellidos = document.getElementById('apellidos').value;
        const email = document.getElementById('email').value;
        const password = document.getElementById('pass').value;

        // Aquí puedes realizar cualquier validación adicional antes de enviar el formulario

        // Envía el formulario manualmente
        formulario.submit();
      }
    </script>
  </body>
</html>
