<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta de GO</title>
    <link rel="stylesheet" type="text/css" href="static/styleSearch.css">
</head>
<body>

<div class="container">
    <h2>Consulta de GO</h2>

    <form id="consultaForm">
        <label for="codigo">Item:</label>
        <input type="text" id="codigo" name="codigo">
        <label for="tipoBusqueda">Tipo de búsqueda:</label>
        <select id="tipoBusqueda" name="tipoBusqueda">
            <option value="nombre">Nombre</option>
            <option value="codigo">Codigo</option>
        </select>
        <button type="button" onclick="realizarConsulta()">Buscar</button>
    </form>

    <div id="resultado">
        <h3>Resultados:</h3>
        <table id="tablaResultados">
            <thead>
            <tr>
                <th>Columna 1</th>
                <th>Columna 2</th>
                <th>Columna 3</th>
                <th>Columna 4</th>
                <th>Columna 5</th>
                <th>Columna 6</th>
            </tr>
            </thead>
            <tbody>
            <!-- Los resultados se insertarán aquí dinámicamente -->
            </tbody>
        </table>
    </div>
</div>
<script src="./static/QueryInsumo.js"></script>
</body>
</html>
